@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Lato', sans-serif;
}

:root {
    --BG-black: #c9c9c9;
    --black: #212121;
    --white: #edf2fc;
}

.dark-theme {
    --BG-black: #c9c9c9;
    --black: #edf2fc;
    --white: #212121;
}

.main {
    background: var(--BG-black);
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 20px 0;
}

/* Music container component */

.music-container {
    max-width: 300px;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 20px;
    box-shadow: 4px 4px 3px rgba(0,0,0,0.5);
    position: relative;
}

/* Navbar component */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.logo {
    color: var(--white);
    font-weight: 500;
}

.nav_btn i {
    color: var(--white);
}

.nav_btn {
    font-size: 1.2rem;
    border-radius: 100%;
    border: 2px solid var(--white);
    background: transparent;
    padding: 5px 7px;
}

.prev-btn:active ,.list-Btn:active,.controls .controlBtn:active{
    animation-name: btnHover;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    
    @keyframes btnHover {
        0%{
            transform: scale(0);
        }

        100%{
            transform: scale(0.9);
        }
    }
}

/* The Track Image Component */

.track-img {
    background-color: var(--white);
    width:65%;
    height: 13rem;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.8);
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.track-img img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 1rem auto;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;    
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}


.music-container.play .track-img img {
    animation-play-state: running;
}

.track-img::after {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background-color: var(--white);  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

/* Music Info Compnent */

.artist{
    color: var(--white);
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 0.5;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.song-title{
    color: var(--white);
    font-size: 1rem;
    line-height: 20px;
    font-weight: 500;
    margin: 1rem 0 .5rem 0;
}

.progress-container {
    background-color: var(--white); 
    width: 100%;
    height: 4px;
    border-radius: 5px;
    margin-top: 1.2rem;
    margin-bottom: 10px;
    cursor: pointer;
}

.progress {
    background-color: #ff7e9e; 
    width: 0%;
    height: 4px;
    border-radius: 5px;
    transition: width 0.1s linear;
}

.progress-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px 0 6px;
    font-size: .9rem;
}

.progress-time p {
    color: var(--white);
}
    

/* Control Buttons */

.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.controls i,
p {
    color: var(--white);
}

.controls .controlBtn{
    background: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 3px 0 5px;
    color: red; 
}

.controls p {
    font-weight: 100;
    font-size: .8rem;
}

.controls .play{
    color: #ff7e9e;
    height: 50px;
    width: 50px;
    font-size: 2rem;
}

.controls .prev, 
.controls .next {
    width: 30px;
    height: 30px;
    font-size: 1rem;
}

/* Footer Component*/

.footer-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 0 4px;
}

footer i{
    color: var(--white);
}

.footer-btn .btn{
    color: var(--white);
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
}

.footer-btn .fast_btn{
    font-size: 0.8rem;
}