@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500&display=swap');
@import"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Lato', sans-serif;
}

:root {
    --BG-black: #c9c9c9;
    --black: #212121;
    --white: #edf2fc;
}

.dark-theme {
    --BG-black: #c9c9c9;
    --black: #edf2fc;
    --white: #212121;
}

button {
    color: #000;
}

.main {
    background: var(--BG-black);
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 20px 0;
}

/* The music container starts here */
.music-container {
    max-width: 300px;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 20px;
    box-shadow: 4px 4px 3px rgba(0,0,0,0.5);
    position: relative;
}

/* Navbar component */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.logo {
    color: var(--white);
    font-weight: 300;
}

.prev-btn, 
.list-Btn {
    padding: 7px;
    background-color: rgba(95, 91, 91, 0.05);
    box-shadow:  -3px -3px 2px -2px rgba(255,255,255,0.7),  3px 3px 2px black;
    color: #0099ff;
    border: 1px solid rgba(0,0,0,0);
    outline: none;
    border-radius: 50%;
    font-size: 1.25rem;
    font-weight: 900;
    font-family: serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1000ms linear;
    
}
   
    
.prev-btn::after,
.list-Btn::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: transparent;
    border-radius: 50%;
    box-shadow: 
        inset  -1px -1px 10px rgba(95, 91, 91, 0.1), 
        inset 3px 3px 10px rgba(0,0,0,0.5)
    ;
    cursor: pointer;
    
}

.list-Btn:hover{
    transform: scale(1.1);
}

/* .prev-btn:hover ,.list-Btn:hover{
    cursor: pointer;
    animation-name: btnHover;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    
    @keyframes btnHover {
        0%{
            transform: scale(0);
        }

        100%{
            transform: scale(0.9);
        }
    }
} */

.prev-btn:hover{
    color: black;
}

.prev-btn:active ,.list-Btn:active,.controls .controlBtn:active{
    animation-name: btnHover;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    
    @keyframes btnHover {
        0%{
            transform: scale(0);
        }

        100%{
            transform: scale(0.9);
        }
    }
}

/* the track image */

.track-img {
    background-color: #ff7e9e;
    width:65%;
    height: 13rem;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.8);
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.track-img img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 1rem auto;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;    
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}


.music-container.play .track-img img {
    animation-play-state: running;
}

.track-img::after {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background-color: #ebebeb;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

/* Music Info Compnent */

.artist{
    color: var(--white);
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 0.5;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.song-title{
    color: var(--white);
    font-size: 1rem;
    line-height: 20px;
    font-weight: 500;
    margin: 1rem 0 .5rem 0;
}

.progress-container {
    background-color: #fff; 
    width: 100%;
    height: 4px;
    border-radius: 5px;
    margin-top: 1.2rem;
    margin-bottom: 10px;
    cursor: pointer;
}

.progress {
    background-color: #ff7e9e; 
    width: 0%;
    height: 4px;
    border-radius: 5px;
    transition: width 0.1s linear;
}

.progress-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px 0 6px;
    font-size: .9rem;
}

.progress-time p {
    color: var(--white);
}
    

    /* ?the control buttons */
    .controls{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .controls .controlBtn{
        /* padding: 0.625rem .4rem; */
     background-color:rgba(95, 91, 91, 0.05);
     box-shadow:  -3px -3px 2px -2px rgba(255,255,255,0.7),  3px 3px 2px black;
     color: rgb(10, 4, 99);
     border: 1px solid rgba(0,0,0,0);
     outline: none;
     border-radius: 50%;
     font-size: 1rem;
     font-weight: 900;
     font-family: serif;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     background: transparent;
     cursor: pointer;
     margin: 3px 0 5px;
     
    }
    .controls .controlBtn::after{
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background: transparent;
        border-radius: 50%;
        box-shadow:inset  -3px -3px 7px rgba(255,255,255,0.7), inset 3px 3px 5px black;
    }
    .controls .play{
        background: lightskyblue;
        width: 60px;
        height: 60px;
        font-size: 2.25rem;
    }
    .controls .sub, .controls .add{
        width: 45px;
        height: 45px;
        font-size: 1rem;
        font-weight: 200;
        color: white;
    }
    /* .controls .sub:hover, .controls .add:hover{
        color: black;
    } */
    .controls .prev, .controls .next{
        width: 30px;
        height: 30px;
        color: #e61212;
    }
    .footer-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 8px;
        padding: 0 4px;
    }
.footer-links .btn{
    color: #5f5c5c;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.footer-links .mult-1{
    font-size: 0.8rem;
}